################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HexaMaui/.vs/*
/HexaMaui/bin/Debug/*
/HexaMaui/obj/*
/HexaMaui/Properties/launchSettings.json
*.suo
*.user
_ReSharper.*
bin
obj
packages
.vs